body{
	background-image:url('download (2).jpeg');
	background-repeat:no-repeat;
	background-position:left-bottom;
	background-size:100% 100%;
}
.navbar{
	font-family:"Times New Roman", Times, serif;
	width:100%;
	background-color:#00609F;
	overflow:auto;
}
.navbar a{
	font-family:"Times New Roman", Times, serif;
	float:left;
	padding:12px;
	color:black;
	text-decoration:none;
	font-size:27px;
	width:31%;
	text-align:center;
}
.navbar a:hover{
	background-color:#6EDEFA;
}

h1{
	width:100%;
	color:red;
	font-family:Algerian;
	font-size:50px;
	text-align:center;
	text-shadow:5px 2px black;
}
h2{
		font-size:25px;
		color:white;
		text-align:center;
		margin-top:80px;
		font-family:"Times New Roman", Times, serif;
		text-shadow:5px 1px gray;

}
table{
	font-family:lato;
	border-collapse:collapse;
	text-align:center;
	margin-top:80px;
}
th{
	font-size:20px;
	text-align:left;
	padding:8px;
	background-color:white;
}
td{
	font-size:15px;
	text-align:left;
	padding:8px;
}
tr:nth-child(odd){
	background-color:white;
	
}
tr:nth-child(even){
	background-color:lime;
}
.footer{
	text-align:center;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:black;
	color:white;
	}






